 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #fdf9f9 !important;
  color: #333 !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}
p.warning {
  color: orange;
}
html, body, #root {
    background-color: #0d1117;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card,.modal-dialog {
  background-color: #022234;
  border: 1px solid #30363d;
  border-color: #044379;
  box-shadow: 2px 2px 3px #025966ce;
  color: #e6edf3 !important;
}
.card h1 { color:#03c5e3}

.form-control {
  background-color: #022234;
  border: 1px solid #30363d;
   color: #044379 !important;
}
::placeholder{
  color: #aef7ff73 !important;
}
.form-control:focus {
  background-color: #146a7d63;
  color: #e6edf3 !important;
  border-color: #58a6ff;
  box-shadow: none;
}